{% extends "base.html" %}

{% block title %}Flasky - Подтвердите ваш аккаунт{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Привет, {{ current_user.username }}!
    </h1>
    <h3>Вы ище не подтвердили ваш аккаунт.</h3>
    <p>
        Прежде чем вы сможете получить доступ к этому сайту, вам необходимо подтвердить свою учетную запись.
         Проверьте свой email, вы должны были получить письмо со ссылкой для подтверждения.
    </p>
    <p>
        Требуется еще одно письмо с подтверждением?
        <a href="{{ url_for('auth.resend_confirmation') }}">Нажмите сюда</a>
    </p>
</div>
{% endblock %}